---
import type { Datum } from '@src/context/transparencia/interfaces/transparencia'
import DocumentIcon from '@src/components/icons/Document.icon.astro'

interface Props {
    title: string;
    description: string | null;
    documents: Datum[];
}

const { title, description, documents } = Astro.props as Props;
---

<section class="my-12">
    <div
        class="py-8 mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8 border-b-2 border-ayllus-primary"
    >
        <h1
            class="text-ayllus-primary font-semibold text-2xl sm:text-3xl lg:text-4xl mb-4"
        >
            {title}
        </h1>

        {
            description && (
                <p class="mb-4 font-normal text-base sm:text-lg lg:text-xl">
                    {description}
                </p>
            )
        }

        <ul class="flex flex-col gap-2 sm:gap-3 lg:gap-4">
            {
                documents.map((document) => (
                    <li>
                        <a
                            class="text-lg sm:text-xl lg:text-2xl text-ayllus-primary flex items-center gap-2"
                            href={document.attributes.url}
                            target="_blank"
                        >
                            <DocumentIcon width={24} height={24} />
                            <span>{document.attributes.name}</span>
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</section>
