---
import CarouselPublicaciones from '@src/context/publicaciones/section/CarouselPublicaciones.section.astro'
import PublicacionesRecientes from '@src/context/publicaciones/section/PublicacionesRecientes.section.astro'
import Layout from '@src/layouts/Layout.astro'

---

<Layout title="Publicaciones Ayllus">
    <main class="mt-20 sm:mt-36 xl:mt-44">
        <CarouselPublicaciones />
        <PublicacionesRecientes />
    </main>
</Layout>
