<section
    class="bg-ayllus-primary flex flex-col md:flex-row items-center py-10 text-white gap-12"
>
    <p class="md:w-1/2 text-lg md:text-2xl md:px-32 w-full px-8 text-center">
        La Cooperativa “Ayllus Perú Ltda.” cuenta con una Oficina Principal en
        la ciudad de Ayacucho y dos oficinas descentralizadas en la región
        Cuzco.
    </p>

    <div class="w-1/2 flex justify-center items-end gap-4">
        <img src="/logo/isotipo.png" alt="logo-ayllus-peru" />
        <img src="/logo/logo.png" alt="logo-ayllus-peru" />
    </div>
</section>
