---
import SectionPV from '@src/context/quienes-somos/section/SectionNE.section.astro'
import Layout from '@src/layouts/Layout.astro'

const DATA = [
  {
    title: 'Oficina Principal',
    items: [
      {
        cargo: 'Gerente General',
        img: '/image.jpg',
        nombre: 'Econ. Yagner Wily MENDOZA VENEGAS'
      },
      {
        cargo: 'Gerente General',
        img: '/image.jpg',
        nombre: 'Econ. Yagner Wily MENDOZA VENEGAS'
      },
      {
        cargo: 'Gerente General',
        img: '/image.jpg',
        nombre: 'Econ. Yagner Wily MENDOZA VENEGAS'
      }
    ]
  },

  {
    title: 'Oficina Kimbiri',
    items: [
      {
        cargo: 'Gerente General',
        img: '/image.jpg',
        nombre: 'Econ. Yagner Wily MENDOZA VENEGAS'
      },
      {
        cargo: 'Gerente General',
        img: '/image.jpg',
        nombre: 'Econ. Yagner Wily MENDOZA VENEGAS'
      },
      {
        cargo: 'Gerente General',
        img: '/image.jpg',
        nombre: 'Econ. Yagner Wily MENDOZA VENEGAS'
      }
    ]
  },

  {
    title: 'Oficina Pichari',
    items: [
      {
        cargo: 'Gerente General',
        img: '/image.jpg',
        nombre: 'Econ. Yagner Wily MENDOZA VENEGAS'
      },
      {
        cargo: 'Gerente General',
        img: '/image.jpg',
        nombre: 'Econ. Yagner Wily MENDOZA VENEGAS'
      },
      {
        cargo: 'Gerente General',
        img: '/image.jpg',
        nombre: 'Econ. Yagner Wily MENDOZA VENEGAS'
      }
    ]
  }

]

---

<Layout title="Nuestro equipo">

  <section class="md:mt-28 mt-10">

    {
      DATA.map(section => (
        <SectionPV title={section.title} items={section.items}/>
      ))
    }

  </section>

</Layout>
