---
import ContentSection from '@src/components/ContentSection.component.astro'
import HeaderPage from '@src/components/HeaderPage.component.astro'
import SectionLogo from '@src/components/SectionLogo.component.astro'
import { nuestraHistoriaService } from '@src/context/quienes-somos/services/nuestraHistoria.service'
import Layout from '@src/layouts/Layout.astro'

const data = await nuestraHistoriaService();
---

<Layout title="Nuestra Historia">
    <HeaderPage title="Nuestra Historia" imagen={data.imageHeader.url} />

    {
        data.listCard.map((card, index) => (
            <ContentSection
                image={card.imagen.url}
                direction={index % 2 === 0 ? 'right' : 'left'}
            >
                <div class="flex flex-col gap-8 text-lg md:text-xl font-normal">
                    {card.descripcion.map((parraf) => (
                        <>
                            {parraf.children.map((child) => (
                                <p>{child.text}</p>
                            ))}
                        </>
                    ))}
                </div>
            </ContentSection>
        ))
    }

    <SectionLogo />
</Layout>
