---
const data = [
  {
    text: 'Accede a préstamos con bajos intereses',
    imgUrl: '/home/asociate/1.webp'
  },
  {
    text: 'Depósitos a plazo fijo y ¡sin comisiones!',
    imgUrl: '/home/asociate/2.webp'
  },
  {
    text: 'Incentivos y participa en sorteos',
    imgUrl: '/home/asociate/3.webp'
  }
];
---

<section class="py-20 flex flex-col items-center">
    <h1
        class="text-center w-full text-2xl md:text-3xl xl:text-6xl font-extrabold text-ayllus-secondary my-12"
    >
        Asóciate
    </h1>

    <h3
        class="text-center w-full text-xl md:text-2xl xl:text-3xl font-extrabold text-ayllus-primary mb-4"
    >
        Beneficios de ser socio
    </h3>

    <p class="text-center w-full font-medium text-lg md:text-xl mb-8 px-4 md:px-8">
        ¿Buscas seguridad financiera y beneficios exclusivos?
    </p>

    <div class="max-w-screen-2xl flex flex-col md:flex-row gap-8 my-16 px-4 md:px-8">
        {data.map((item) => (
            <section class="flex flex-col md:flex-row items-center gap-4 border-2 border-ayllus-secondary rounded-xl py-6 px-4">
                <p class="text-lg font-medium text-center md:text-left">{item.text}</p>
                <img class="w-32 md:w-48 xl:w-64" src={item.imgUrl} alt={item.text} />
            </section>
        ))}
    </div>

    <a href="/socios/asociate" class="bg-ayllus-primary text-white font-bold text-xl px-8 py-2 rounded-lg border-2 border-transparent hover:border-ayllus-primary hover:bg-white hover:text-ayllus-primary transition duration-300 ease-in-out">
        Conoce los requisitos aquí
    </a>
</section>
