---
import CardOficina from '@src/context/home/components/CardOficina.component.astro'
import { oficinaService } from '@src/context/home/services/oficina.service'

const oficinas = await oficinaService();

---

<section class="w-full relative py-14 bg-[#FCF5FF] px-8">
  <h1
    class="text-center w-full my-8 text-2xl md:text-3xl xl:text-7xl font-extrabold text-ayllus-secondary"
  >
    Oficinas
  </h1>

  <section class="flex gap-20 flex-col md:flex-row justify-center items-center">
    {
      oficinas.map((oficina) => (
        <CardOficina
          title={oficina.title}
          image={oficina.imagen.url}
          address={oficina.direccion}
        />
      ))
    }
  </section>
</section>
