---
import { Image } from 'astro:assets';
---

<div class="py-16">
    <div
        class="container m-auto px-6 space-y-8 text-gray-500 md:px-12 lg:px-20"
    >
        <div
            class="justify-center text-center gap-6 md:text-left md:flex lg:items-center lg:gap-16"
        >
            <div class="order-last mb-6 space-y-6 md:mb-0 md:w-6/12 lg:w-6/12">
                <h1 class="text-4xl text-ayllus-secondary font-extrabold md:text-5xl">
                    Quiénes somos
                </h1>
                <h1 class="text-1xl text-ayllus-secondary font-bold md:text-2xl">
                    Una Cooperativa de Ahorro y crédito
                </h1>

                <p class="text-xl font-medium">
                    Seis años en el mercado, creado con la finalidad de atender
                    aquella población marginada por el sistema
                    financiero-bancario tradicional.
                </p>

            </div>
            <div class="grid grid-cols-5 grid-rows-4 gap-4 md:w-5/12 lg:w-6/12">
                <div class="col-span-2 row-span-4">
                    <Image
                        src="/home/quienes_somos/q_s_3.webp"
                        class="rounded-full"
                        width="640"
                        height="960"
                        alt="ayllus"
                        loading="eager"
                    />
                </div>
                <div class="col-span-2 row-span-2">
                    <Image
                        src="/home/quienes_somos/q_s_2.webp"
                        class="w-full h-full object-cover object-top rounded-xl"
                        width="640"
                        height="640"
                        alt="ayllus"
                        loading="eager"
                    />
                </div>
                <div class="col-span-3 row-span-3">
                    <Image
                        src="/home/quienes_somos/q_s_1.webp"
                        class="w-full h-full object-cover object-top rounded-xl"
                        width="640"
                        height="427"
                        alt="ayllus"
                        loading="lazy"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
