---
import Navbar from '@src/components/Navbar.component.astro'
import '@fontsource-variable/onest'

interface Props {
	title?: string;
}

const { title } = Astro.props as Props

let titleLayout = 'Cooperativa Ayllus Perú'

if (title) {
  titleLayout = `${title} | ${titleLayout}`
}
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{titleLayout}</title>
	</head>
	<body class="relative">
		<Navbar />
		<slot />
	</body>
</html>

<style is:global>
	body {
		font-family: "Onest Variable", sans-serif;
	}
</style>
